section {
    background-color: #F2F1EB;
    border-radius: 10px;
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
}
.img{
    max-width: 45vw; 
    display: block; 
    margin: 20px auto; 
}
.image-container2 {
    overflow: hidden; 
}

.image-container2 a {
    width: 48%; 
    float: left; 
    margin: 1%; 
}

.image-container2 img {
    width: 100%; 
}

p{
    text-align-last: center;
}